.footerr{
    width: 100%;
    height: 400px;
    background:#222; 
    color:white; 
    padding:15px; 
    margin-top:50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 4px 4px 10px blueviolet;
}