
main{
    width: 100%;
    height:470px;
    /* background-color: #0050e4; */
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    width: 95%;
    height: 90%;
    position: relative;
    /* background-color: #970000; */
}
.slide{
    width: 100%;
    height: 100%;
    /* background-color: chartreuse; */
    position: absolute;
    opacity: 0;
    animation: man 11s infinite;
    z-index: 1;
    
}
.slide img{
    width: 100%;
    height: 100%;
}
.slide:nth-child(1){
    animation-delay: 0s;
}
.slide:nth-child(2){
    animation-delay: 2s;
}
.slide:nth-child(3){
    animation-delay: 4s;
}
.slide:nth-child(4){
    animation-delay: 6s;
}
.slide:nth-child(5){
    animation-delay: 8s;
}

@keyframes man{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    30%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}